body {
    margin: 0;
    font-size: 18px;
    color: #2e354f;
}

h1,h2,strong{
    font-weight: 900;
}

h1{
    font-size: 36px;
    margin: 0;
}

h2{
    font-size: 24px;
    color: #ef5839;
}
a{
    color: #ef5839;
}
a:hover,a:focus{
    color:#d4b44c;
}
/* buttons */
.btn{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent{
    background-color: #ef5839;
    color: whitesmoke;
}
.btn-white{
    background-color:  whitesmoke;
    color: #ef5839;
}

img{
    width: 100%;
}

/* Layout */
header{
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}

section{
    padding: 45px 0;
}
/* 
//1
.container{
    width: 640px;
    margin: 0 auto;
    border: 2px solid magenta;
} */
/*
//2 img 
.container{
    width: 50%;
    margin: 0 auto;
    border: 2px solid magenta;
} */
.container{
    width: 90%;
    max-width: 620px;
    margin: 0 auto;
    border: 2px solid magenta;
}

.section-two{
    background: #2e354f;
    color: #fff;
}